@model SnippetModel
@{
    ViewData["Title"] = "Confirmação apagar snippet";
}

<div class="text-center">
    <h3>Realmente deseja apagar o snippet (@Model.Categorias)?</h3>
</div>
 <div class="d-grid gap-2">
      <a class="btn btn-primary" role="button" asp-controller="Snippet" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar exclusão</a>
      <a class="btn btn-danger" role="button" asp-controller="Snippet" asp-action="Index" >Cancelar exclusão</a>
  </div>
