
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página restrita";
}

<p>Você não tem permissão de acesso para essa funcionalidade, <a asp-controller="Home" asp-action="Index">Clique aqui para voltar para a home</a></p>