@model ContatoModel
@{
    ViewData["Title"] = "Listagem de contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (@Model.Name)?</h3>
</div>
 <div class="d-grid gap-2">
      <a class="btn btn-primary" role="button" asp-controller="Contato" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar exclusão</a>
      <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Index" >Cancelar exclusão</a>
  </div>
